@import "tailwindcss";
@font-face {
    font-family: 'Robot_Invaders';
    src: url('./assets/fonts/RobotInvaders.ttf') format('truetype');
}

.bg-custom {
    background-image: url('./assets/Sponsor_bg.png');
    background-size: cover;
 }